@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* disable prettier */
/* prettier-ignore */
html,
body {
  @apply w-full h-full bg-neutral-900 text-neutral-100;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  @apply w-2 h-2;
}

*::-webkit-scrollbar-track {
  @apply bg-neutral-900 w-2;
}

*::-webkit-scrollbar-thumb {
  @apply w-2 rounded bg-gradient-to-t from-red-950 to-red-900;
}

* {
  transition: 0.3s ease;
  user-select: none;
}

.horizontalscrollbarhidden::-webkit-scrollbar {
  display: none;
}

.underline-on-hover {
  /* apply underline transition on hover */
  position: relative;
}

.underline-on-hover::after {
  @apply bg-red-700;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  bottom: -2px;
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.underline-on-hover:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.header-input::placeholder {
  @apply text-neutral-400;
}

.checkoutforminput {
  @apply h-5 text-sm p-4 font-medium text-neutral-400 rounded-lg bg-neutral-800 border border-neutral-400 focus:outline-none focus:border-red-700;
}

.slideshow {
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}
